
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform-key-*.pem
terraform_outputs.txt
*.pyc
__pycache__/
.ansible/

__pycache__/
*.pyc
*.pyo
db.sqlite3
.env
venv/
*.sqlite3
/staticfiles/

.dockerignore

.vscode/
.idea/
*.swp
*.swo

.aws/credentials
.aws/config

.DS_Store
Thumbs.db

*.log

*.egg-info/
dist/
build/
